:root {
    --header-light: #004359;
    --header-dark: #003040;
    --icon-fill: #00b0ea;
}

@font-face {
    font-family: 'WLM Idea';
    src: url(../fonts/WLM\ Idea\ Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

.page-wrapper {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

.brand-font {
    font-family: 'WLM Idea';
}

.main-wrapper {
    padding-top: 2rem;
    display: grid;
    justify-content: center;
    width: 100%;
}

a:visited {
    text-decoration: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.blue {
    color: var(--header-light)
}

.footer {
    background-color: var(--header-dark);
    color: white;
    padding: .5rem;
}

.hidden {
    display: none;
}