:root {
    --background-color: #fbf9ff;
    --error-color: #ef798a;
    --header-light: #004359;
    --header-dark: #003040;
    --icon-fill: #00b0ea;
}

@font-face {
    font-family: 'WLM Idea';
    src: url(../fonts/WLM\ Idea\ Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

.page-wrapper {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

.brand-font {
    font-family: 'WLM Idea';
}

.main-wrapper {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: clamp(50%, 80%, 1200px);
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    gap: 1rem;
    justify-content: right;
}

.page-title {
    font-weight: bold;
    font-size: 2rem;
}

.small-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.success-message {
    color: var(--icon-fill);
    border: 1px solid var(--icon-fill);
    border-radius: 4px;
    padding: .5rem;
    font-weight: bold;
    background-color: var(--background-color);
}

.error-message {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    border-radius: 4px;
    padding: .5rem;
    font-weight: bold;
    background-color: var(--background-color);
}

a:visited {
    text-decoration: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.results > a {
    color: var(--header-light);
}

.blue {
    color: var(--header-light);
}

.footer {
    background-color: var(--header-dark);
    color: white;
    padding: .5rem;
    text-align: end;
}

.hidden {
    display: none;
}