.entry {
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content min-content;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--header-light);
    border-radius: 4px;
}

.entry-title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.entry-date {
    padding-left: 1rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--header-light);
}

.entry-entry {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.entry-details {
    display: flex;
    gap: 2rem;
    margin-bottom: .5rem;
}

.comment-bar {
    display: flex;
    gap: .25rem;
}

.favorite {
    height: 1rem;
    width: auto;
}

.favorite-info {
    display: flex;
    gap: .25rem;
}

.favorite-button {
    border: none;
    padding: 0;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.favorite-image {
    display: flex;
    align-items: center;
}

.comment-form {
    margin: 1rem;
    border: 1px solid var(--header-dark);
    border-radius: 4px;
    padding: 1rem;
    background-color: white;
}

#leave-comment-form {
    display: grid;
    grid-template-rows: auto;
    gap: .25rem;
}

#leave-comment-form > label {
    color: var(--header-dark)
}

.comment-button {
    background-color: var(--header-light);
    color: white;
    border-radius: 8px;
    padding: .5rem;
    box-shadow: 2px 2px 2px gray;
    width: max-content;
}

.comment-buttons {
    display: flex;
    gap: .5rem;
}

.cancel {
    background-color: var(--error-color);
    border-radius: 8px;
    padding: .5rem;
    box-shadow: 2px 2px 2px gray;
    width: max-content;
}

