.entry {
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content min-content;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--header-light);
    border-radius: 4px;
}

.entry-title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.entry-date {
    padding-left: 1rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--header-light);
}

.entry-entry {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.entry-details {
    display: flex;
    gap: 2rem;
    margin-bottom: .5rem;
}

.comment-bar {
    display: flex;
    gap: .25rem;
}

.favorite {
    height: 1rem;
    width: auto;
}

.favorite-info {
    display: flex;
    gap: .25rem;
}

.favorite-button {
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.favorite-image {
    display: flex;
    align-items: center;
}

