.entry-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.new-entry-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-form > h1 {
    margin-top: 0;
}

.new-entry-input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-group {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
}

.input-group > input {
    width: 100%;
    padding: .25rem;
}

.new-entry-mood {
    width: 100%;
    padding-right: 2rem;
}

.toolbar-class {
    border: 2px solid var(--header-dark)
}

.editor-class {
    background-color: white;
    padding: .5rem;
    border: 1px solid var(--header-dark);
    border-radius: 4px;
    min-height: 15rem;
}

.wrapper-class {
    background-color: var(--background-color);
    padding: 1rem;
    border: 1px solid var(--header-dark);
    border-radius: 4px;
    margin-bottom: .5rem;
}

.new-entry-submit {
    margin-bottom: 1rem;
}