.entry-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.new-entry-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-form > h1 {
    margin-top: 0;
}

.new-entry-input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-group {
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
    align-items: center;
}

.input-group > input {
    width: 80%;
    padding: .25rem;
}