.entry-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: clamp(400px, 1200px, 2000px);
}

.new-entry-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-form > h1 {
    margin-top: 0;
}