.profile-wrapper {
    padding: 1rem;
    padding-left: 5rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    width: 80%;
    justify-content: left;
}

.profile-header {
    height: min-content;
}

.profile-info {
    display: grid;
    grid-template-rows: repeat(6, max-content);
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.profile-field {
    display: grid;
    grid-template-columns: 100px auto;
    justify-content: left;
    align-items: baseline;
    width: 100%;
}

.follow-links > a {
    color: var(--header-light)
}

.follow-links > a:visited {
    color: var(--header-light)
}

#update-profile-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reminder-text {
    font-style: italic;
    margin-top: .5rem;
    font-size: .9rem;
}