.profile-wrapper {
    padding: 1rem;
    padding-left: 5rem;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    justify-content: left;
}

.profile-header {
    height: min-content;
}

.profile-info {
    display: grid;
    grid-template-rows: repeat(6, max-content);
    gap: 1rem;
    width: clamp(400px, 1200px, 90%);
    margin-bottom: 2rem;
}

.profile-field {
    display: grid;
    grid-template-columns: 100px auto;
    justify-content: left;
    align-items: baseline;
    max-width: 1200px;
    min-width: min-content;
}

#update-profile-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reminder-text {
    font-style: italic;
    margin-top: .5rem;
    font-size: .9rem;
}