.splash-wrapper {
    display: flex;
    padding-top: 5rem;
    justify-content: space-evenly;
    align-items: flex-start;

}

.left-splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash-icon {
    height: 5rem;
    width: 5rem;
}